<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Удаление пользователя</title>
</head>

<body>
    <p><a href="/users">Назад к списку</a></p>

    <h1>Вы уверены, что хотите удалить?</h1>

    <form th:action="@{/users/delete/{id}(id=*{id})}" th:object="${form}" method="POST">

        <p>Пользователь <span th:text="*{email}">EMAIL</span> будет удален безвозвратно!</p><br>



        <button type="submit">Согласен</button>
        <p><a href="/users">Назад к списку</a></p>
    </form>

</body>

</html>