<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>

<body>

    <p><a href="/users">Назад к списку</a></p>

    <h1>Профиль пользователя</h1>



    <div th:object="${entity}">
        <p>
            <strong>ID:</strong> <span th:text="*{id}">1</span>
        </p>
        <p>
            <strong>Email:</strong> <span th:text="*{email}">Email</span>
        </p>

        <br>

        <br>

        <a th:href="@{/users/delete/{id}(id=*{id})}">Удалить пользователя</a>
    </div>
</body>

</html>