# --------------  REQUIRED FOR LAUNCH  -----------------
# ======================================================
#               POSTGRESQL CONFIGURATION
# ======================================================
DATABASE_HOST=jdbc:postgresql://EXABMLE_ADDRESS:EXAMPLE_PORT/EXAMPLE_DATABASE_NAME
DATABASE_NAME=EXAMPLE_DATABASE_NAME
DATABASE_USER=EXAMPLE_DATABASE_USER
DATABASE_PASSWORD=EXAMPLE_DATABASE_PASSWORD



# ======================================================
#               SPRING BOOT CONFIGURATION
# ======================================================
# dev - режим разработки
# prod - боевой режим
SPRING_PROFILES_ACTIVE=EXAMPLE_PROFILE



# ------------------  NOT REQUIRED   -------------------
# ======================================================
#               DEV PROFILE SETTINGS
# ======================================================
# В Spring Boot управляет тем, будут ли
# автоматически применяться оптимальные для разработки настройки
# по умолчанию - true/false
DEV_DEVTOOLS_ADD_PROPERTIES=true


# validate - проверяет схему
# create-drop - создает и удаляет
# update - обновляет
DEV_DDL_AUTO=validate

# Показывать SQL запросы - true/false
DEV_JPA_SHOW_SQL=true

# Форматировать SQL - true/false
DEV_JPA_FORMAT_SQL=true

# Уровень логирования - DEBUG, INFO, WARN, ERROR
DEV_LOG_LEVEL_WEB=DEBUG
DEV_LOG_LEVEL_APP=DEBUG
DEV_LOG_LEVEL_FLYWAY=DEBUG

# Включить DevTools - true/false
DEV_DEVTOOLS_RESTART=true
DEV_DEVTOOLS_LIVERELOAD=true

# Отключить безопасность - true/false
DEV_SECURITY_DISABLED=true